body 
{
    margin: 0;
    background-color: #ef9385;
    color: #87382d;
    font-family: 'Nunito', sans-serif;
}

/* Main layout container */
.layout 
{
    display: flex;
    height: 100vh; 
}

/* Left & Right sidebars */
.sidebar-left, .sidebar-right
{
    width: 250px;
    background-color: #87382d;
    color: #ef9385;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh; 
}

/* Center Content Area */
.main 
{
    flex: 1;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
}

.main-bottom h1
{
    font-size: 100px;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Center Logo */
.main-logo 
{
    width: 400px;
    height: auto;
    display: block;
    margin: 0px 0;
}

/* Bottom section of main area */
.main-bottom 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-bottom p 
{
    margin-bottom: 10px;
    font-weight: bold;
}

/* Itch Link & Icon */
.itch-link 
{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none;
}

.itch-icon 
{
    width: 200px;
    height: auto;
    display: block;
    transition: transform 0.2s ease;
}

.itch-icon:hover 
{
    transform: scale(1.1);
}
